.form {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.submitButton {
  background-color: #001529;
  outline: 0;
  border: 0;
}
